{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Shop{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row align-items-center mb-4 pb-1">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="product_header_left">
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="order">Default sorting</option>
                                            <option value="popularity">Best Seller</option>
                                            <option value="date">New Arrivals</option>
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="product_header_right">
                                    <div class="products_view">
                                        <a href="javascript:Void(0);" class="shorting_icon grid"><i class="ti-view-grid"></i></a>
                                        <a href="javascript:Void(0);" class="shorting_icon list active"><i class="ti-layout-list-thumb"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row shop_container list">
                    
                    {% for item in products %}
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="#">
                                        <img src="/assets/images/products/{{item.imagesUrl[0]}}" alt="product_img1" height="250px">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="/cart/add/{{item.id}}/1" title="Add Product" class="action action_cart"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                            <li><a href="/compare/add/{{item.id}}" title="Compare Products" class="action action_compare"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="/products/{{item.slug}}" title="More Details"><i class="icon-info"></i></a></li>
                                            <li><a href="/wishlist/add/{{item.id}}" title="Add To My WishList" class="action action_like"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/products/{{item.slug}}">{{item.name | title }}</a></h6>
                                    <div class="product_price">
                                        <span class="price">{{(item.soldePrice / 100) | format_currency(app.session.get('settings').currency)}}</span>
				                        <del>{{(item.regularPrice / 100) | format_currency(app.session.get('settings').currency)}}</del>
				                        <div class="on_sale">
					                        <span> -{{((item.regularPrice - item.soldePrice) / 100) | format_currency(app.session.get('settings').currency)}}$</span>
				                        </div>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                    </div>
                                    <div class="pr_desc">
                                        <p>{{item.description | title}}</p>
                                    </div>
                                    <div class="pr_switch_wrap">
                                        <div class="product_color_switch">
                                            <span class="active" data-color="#87554B"></span>
                                            <span data-color="#333333"></span>
                                            <span data-color="#DA323F"></span>
                                        </div>
                                    </div>
                                    <div class="list_product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="/cart/add/{{item.id}}/1" title="Add Product" class="action action_cart"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                            <li><a href="/compare/add/{{item.id}}" title="Compare Products" class="action action_compare"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="/products/{{item.slug}}" title="More Details"><i class="icon-info"></i></a></li>
                                            <li><a href="/wishlist/add/{{item.id}}" title="Add To My WishList" class="action action_like"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination mt-3 justify-content-center pagination_style1">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">Categories</h5>
                            <ul class="widget_categories">
                                <li><a href="#"><span class="categories_name">Suits</span><span class="categories_num">(9)</span></a></li>
                                <li><a href="#"><span class="categories_name">Top</span><span class="categories_num">(6)</span></a></li>
                                <li><a href="#"><span class="categories_name">T-Shirts</span><span class="categories_num">(4)</span></a></li>
                                <li><a href="#"><span class="categories_name">Ties</span><span class="categories_num">(7)</span></a></li>
                                <li><a href="#"><span class="categories_name">Shoes</span><span class="categories_num">(12)</span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Filter</h5>
                            <div class="filter_price">
                                 <div data-min="0" data-max="500" data-min-value="50" data-max-value="300" data-price-sign="$"></div>
                                 <div class="price_range">
                                     <span>Price: <span id="flt_price"></span></span>
                                     <input type="hidden" id="price_first">
                                     <input type="hidden" id="price_second">
                                 </div>
                             </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Brand</h5>	
                            <ul class="list_brand">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Arrivals">
                                        <label for="Arrivals">Alyn walconi</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Lighting">
                                        <label for="Lighting">Zara Men</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Tables">
                                        <label for="Tables">Gucci Brand</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Chairs">
                                        <label for="Chairs">H & M</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Accessories">
                                        <label for="Accessories">French Stylesh</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>

	window.onload = ()=> {
			const links = document.querySelectorAll('.action');
			//console.log(links);return;
			links.forEach((link)=>{
				link.addEventListener('click',async function(e){
					e.preventDefault();
                    //la classe pour verifier  l'action : cart ou compare.
					var classe = link.classList[1];
					//href c'est pour Request Url.
					const result = await fetchData(link.href);
					if(result==0) {toastr.error('Already Exist'); return;}
					if(classe == 'action_compare' && result){
						toastr.info('Product Added To The Compare List');
					}
					if(classe=='action_cart' && result){
						successMSG('Success','Product Added To Your Cart');
						updateCartHeader(result);
					}
					if(classe=='action_like' && result){
						infoMSG('Product Added To The WishList');
					}
				});
			})
	};

</script>
{% endblock %}