{% extends 'simple.html.twig' %}

{% block title %}GentlStore | Checkout
{% endblock %}

{% block body %}
	<header class="header_wrap fixed-top header_with_topbar active">
		<div class="bottom_header dark_skin main_menu_uppercase">
			<div class="container">
				<nav class="navbar navbar-expand-lg mt-2">
					<a routerlink="/" class="navbar-brand" ng-reflect-router-link="/" href="/">
						<h2>GentleStore</h2>
					</a>
					<button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" class="navbar-toggler collapsed">
						<span class="ion-android-menu"></span>
					</button>
					<div id="navbarSupportedContent" class="navbar-collapse justify-content-end collapse" style="">
						<ul class="navbar-nav">
							<li>
								<a class="nav-link nav_item" href="/">Return</a>
							</li>
						</ul>
					</div>

				</nav>
			</div>
		</div>
	</header>
	<div class="main_content">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="toggle_info">
							<span>
								<i class="fas fa-user"></i>
								{% if app.user %}
									Thank You For Your Trust
								{% endif %}
							</span>
						</div>

					</div>
					<div class="col-lg-6">
						<div class="toggle_info">
							<span>
								<i class="fas fa-tag"></i>Have a coupon?
								<a href="#coupon" data-bs-toggle="collapse" aria-expanded="false" class="collapsed">Click here to enter your code</a>
							</span>
						</div>
						<div id="coupon" class="panel-collapse collapse coupon_form">
							<div class="panel-body">
								<p>If you have a coupon code, please apply it below.</p>
								<div class="coupon field_form input-group"><input type="text" value="" placeholder="Enter Coupon Code.." class="form-control">
									<div class="input-group-append">
										<button type="submit" class="btn btn-fill-out btn-sm">Apply
																																												                                        Coupon</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="medium_divider"></div>
						<div class="divider center_icon">
							<i class="linearicons-credit-card"></i>
						</div>
						<div class="medium_divider"></div>
					</div>
				</div>

				{% if app.user %}
					<div class="container row">
						<div class="col">
							<select class="form-select" id="shipping_adresse">
								<option value="" selected>Shipping Adresse</option>
								{% for addr in adresses %}
									<option value="{{addr.id}}">#State:{{addr.state}}
										#{{addr.name}}
										#{{addr.city ~ ' ' ~ addr.zipCode}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col">
							<select class="form-select" id="billing_adresse">
								<option value="" selected>Billing Adresse</option>
								{% for addr in adresses %}
									<option value="{{addr.id}}">#State:{{addr.state}}
										#{{addr.name}}
										#{{addr.city ~ ' ' ~ addr.zipCode}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				{% endif %}
				<div class="container mt-3">
					<div class="order_review">
						<div class="heading_s1">
							<h4>Your Orders</h4>
						</div>
						<div class="table-responsive order_table">
							<table class="table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									{% for item in cart.items %}
										<tr>
											<td>{{item.product.name | title}}
												<span class="product-qty">x
													{{item.qte}}</span>
											</td>
											<td>{{item.Price | format_currency('USD')}}</td>
										</tr>
									{% endfor %}

								</tbody>
								<tfoot>
									<tr>
										<th>SubTotal</th>
										<td class="product-subtotal">{{cart.Total | format_currency('USD')}}</td>
									</tr>
									<tr>
										<th>Shipping</th>
										<td>{{cart.Total > 100 ? 'Free Shipping' : '+$10 for Shipping'}}</td>
									</tr>
									<tr>
										<th>Total</th>
										<td class="product-subtotal" id="td_amount">{{(cart.Total > 100 ? cart.Total : cart.Total + 10) | format_currency('USD')}}</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<button id="payNow" class="btn btn-fill-out btn-block">Pay now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div
				class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">GentleStore</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form id="payment-form">
						<input type="hidden" id="publicKey" value="{{publicKey}}"/>
						<input type="hidden" id="orderId"/>
						<div
							id="payment-element"><!--Stripe.js injects the Payment Element-->
						</div>
						<button id="submit">
							<div class="spinner hidden" id="spinner"></div>
							<span id="button-text">Pay now</span>
						</button>
						<div id="payment-message" class="hidden"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/assets/js/cart.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script type="module" src="/assets/js/checkout.js"></script>
{% endblock %}
